<h1>Reviews Show</h1>
<ul>
  <li><%= @review.title %></li>
  <li><%= @review.author %></li>
  <li><%= @review.link %></li>
  <li><%= @review.image_url %></li>
  <li><%= @review.body %></li>
</ul>